.card {
    display: inline-block;
    width: 98%;
    color: #fff;
    font-family: "Space Mono", monospace;
    border: 1px solid rgba(168, 168, 168, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 20px 25px 20px;
    margin-bottom: 10px;
}
.card:hover {
    animation-name: flash;
    animation-duration: 1s;
    border: 1px solid rgba(168, 168, 168, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
}
.title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.fact {
    text-align: justify;
}
