@media (max-width: 1024px) {
    .grid {
        column-count: 2;
        column-gap: 10px;
    }
}
@media (max-width: 768px) {
    .grid {
        column-count: 1;
        column-gap: 5px;
    }
    .title{
        font-size: 3em;
    }
}
